<p-dialog 
    [(visible)]="isVisible" 
    [modal]="true" 
    [style]="{ width: '30rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    (onHide)="closeModal.emit(false)"
    [header]="titleLabel">
    
    <ng-template #header>
        <div class="flex flex-col">
            <span class="font-bold whitespace-nowrap">{{ titleLabel }}</span>
        </div>
    </ng-template>

    <span class="text-surface-500 dark:text-surface-400 block mb-6">
        {{ descriptionLabel }}
    </span>

    <div class="flex flex-col gap-6">
        <p-inputgroup>
            <p-float-label variant="on">
                <p-password 
                    [(ngModel)]="oldPassword" 
                    [toggleMask]="true" 
                    [feedback]="false"
                    styleClass="w-full"
                    inputStyleClass="w-full" />
                <label>{{ oldPasswordLabel }}</label>
            </p-float-label>
        </p-inputgroup>

        <p-inputgroup>
            <p-float-label variant="on">
                <p-password 
                    [(ngModel)]="newPassword" 
                    (input)="validatePasswords()"
                    [toggleMask]="true" 
                    [feedback]="false"
                    styleClass="w-full"
                    inputStyleClass="w-full" />
                <label>{{ newPasswordLabel }}</label>
            </p-float-label>
        </p-inputgroup>

        <p-inputgroup>
            <p-float-label variant="on">
                <p-password 
                    [(ngModel)]="confirmPassword" 
                    (input)="validatePasswords()"
                    [toggleMask]="true" 
                    [feedback]="false"
                    styleClass="w-full"
                    inputStyleClass="w-full" />
                <label>{{ confirmPasswordLabel }}</label>
            </p-float-label>
        </p-inputgroup>

        <div *ngIf="passwordErrors.length > 0" class="flex flex-col gap-1 px-1">
            <small *ngFor="let error of passwordErrors" class="p-error text-xs italic">
                * {{ error }}
            </small>
        </div>
    </div>

    <ng-template #footer>
        <p-button 
            [label]="discardButtonLabel" 
            [outlined]="true" 
            [text]="true" 
            severity="secondary" 
            (onClick)="onDiscard()" />
        
        <p-button 
            [label]="changePasswordButtonLabel" 
            [outlined]="true" 
            severity="primary" 
            [disabled]="!isFormValid()"
            (onClick)="updatePassword()" />
    </ng-template>
</p-dialog>